.main {
    display: flex;
    justify-content: center; /* Centers horizontally */
    align-items: center;    /* Centers vertically */
    height: 80vh;          /* Ensures the container takes up the full viewport height */
    width: 100vw; 
}