MONGO_URI=mongodb://localhost:27017/fingoal
JWT_SECRET=replace-this-with-a-long-random-string
PORT=5001

# Create .env under fingoal-backend, and copy the content to do npm run dev before npm start because .env is not allowed to push
# PORT=5001
# MONGO_URI=mongodb+srv://fingoal:COD8frkRAnBNswWi@cluster0.cwsh1.mongodb.net/?appName=Cluster0
# JWT_SECRET=your_jwt_secret_key_here
